

.header{
    width: 600px;
    height: 100Px;
    background-image: url(img/HEADER.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px auto;
}
.contianer{
    margin: 10px auto;
}
h1{
    margin-left: 50px;
    color: white;
    font-size: xx-large; 
    font-weight:bolder;
}
img{
    display: block;
}
.contianer{
    width: 600px;
}

.firstSub{
    color: darkgreen;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 10px;

}
.firstSection{
    display: inline-block;
    margin-left:10px;


}
.secondSection{
    display: inline-block;
    margin-left: 50px;
}
p{
    color: #BDBFBF;
}
.firstIn{
    width: 250px;
}
.secondIn{
    width: 250px;

}
.thirdSection{
    margin-left: 10px;
}
.thiredIn{
    width: 560px;
}
.one{
    display: inline-block;
    margin-left: 10px;
}
.two{
    display: inline-block;
    margin-left: 30px;

}
.three{
    display: inline-block;
    margin-left: 30px;
}
.forcity{
    width: 165;
}
.forstate{
    width: 165;

}
.forzip{
    width: 165;

}
hr{
    width: 100%;
    margin:20px 0;
    
}
.fourSection{
    display: inline-block;
    margin-left: 10px;
}
.fiveSection{
    display: inline-block;
    margin-left: 50px;
}
.sixSection{
    display: inline-block;
    margin-left: 10px;
}
.sevenSection{
    display: inline-block;
    margin-left: 50px;
}
.listOne{
    display: inline-block;
    margin-left: 10px;
}
.listTwo{
    display: inline-block;
    margin-left: 150px;
}
select{
    width: 200px;
}
.clickBox{
    margin-top: 15px;
    padding: 15px;    
    background-color: lawngreen
}
.subone{
    padding: 3px;
    margin-left: 30px

}